.App li:hover {
    color: white;
}

.Header {
    background-color: lightsteelblue;
}

.NavBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.NavBar li {
    display: inline-block;
    margin: 20px;
}

.NavBar a {
    text-decoration: none;
    color: gray;
}

.NavBar a:hover,
.NavBar a:active,
.NavBar a.active {
    color: white;
}